@import './base.css';

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

html {
    > body {
        min-height: 100vh;
        color: var(--color-text);
        background: var(--color-background);
        line-height: 1.6;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin: 0;
        background-color: #f8fafc;
    }
}

#app {
    margin: 0 0;
    padding: 0 0;
}

a {
    text-decoration: none;
    color: var(--p-primary-color);
    transition: var(--p-transition-duration);
}

a:hover {
    background-color: var(--p-highlight-focus-background);
}

.capitalize::first-letter {
    text-transform: capitalize;
}

/*
.p-treetable .p-treetable-tbody > tr {
    &:nth-child(odd):not(.ui-state-highlight) {
        background-color: #f8fafc;
    }

    &:nth-child(even):not(.ui-state-highlight) {
        background-color: #ffffff;
    }
}*/