[Unit]
Description=Restart Server

[Service]
ExecStart=/bin/sh -c "cd /root/mycoda && docker compose stop mycoda && docker compose rm -f mycoda && docker compose up -d mycoda"
